/* ==========================================================================
   Global partials
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Common responsive styles
   ========================================================================== */
/* ==========================================================================
   Course shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-four-columns article {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-four-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-five-columns article {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-five-columns article:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-three-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-three-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-four-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-four-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-five-columns article {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-course-list-holder.eltdf-cl-gallery.eltdf-cl-five-columns article:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-course-list-holder.eltdf-cl-gallery article {
    width: 100% !important;
  }
}

/* ==========================================================================
   Course shortcode responsive style - end
   ========================================================================== */
@media only screen and (max-width: 1440px) {
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-prev:hover {
    left: -52px !important;
  }
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-next:hover {
    right: -52px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-prev:hover {
    left: -67px !important;
  }
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-next:hover {
    right: -67px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-prev:hover {
    left: -100px !important;
  }
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-next:hover {
    right: -100px !important;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-prev:hover {
    left: -63px !important;
  }
  .eltdf-course-slider-holder .eltdf-course-list-holder .owl-nav .owl-next:hover {
    right: -63px !important;
  }
}

/* ==========================================================================
   Course Table shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltdf-course-table-holder .eltdf-cti-instructor .eltdf-instructor-image {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-course-table-holder .eltdf-cti-instructor .eltdf-instructor-image {
    display: none;
    margin-right: 0;
  }
  .eltdf-course-table-holder .eltdf-cti-price .eltdf-btn {
    padding: 8px 26px;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-course-table-holder .eltdf-ct-headings-inner {
    display: none;
  }
  .eltdf-course-table-holder .eltdf-ct-headings-mobile {
    display: inline-block;
  }
  .eltdf-course-table-holder .eltdf-ct-item-inner > * {
    width: 50%;
  }
  .eltdf-course-table-holder .eltdf-ct-item-inner > *:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-course-table-holder .eltdf-ct-item-inner > * {
    width: 100%;
  }
}

/* ==========================================================================
   Course Table shortcode responsive style - end
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-course-popup .eltdf-course-popup-inner .eltdf-grid-col-8 {
    float: none;
  }
}

/* ==========================================================================
   Instructor list shortcode responsive style - begin
   ========================================================================== */
@media only screen and (max-width: 1200px) {
  .eltdf-instructor-list-holder.eltdf-tl-four-columns .eltdf-instructor {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltdf-instructor-list-holder.eltdf-tl-four-columns .eltdf-instructor:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .eltdf-instructor-list-holder.eltdf-tl-five-columns .eltdf-instructor {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
  .eltdf-instructor-list-holder.eltdf-tl-five-columns .eltdf-instructor:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-instructor-list-holder.eltdf-tl-three-columns .eltdf-instructor {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-instructor-list-holder.eltdf-tl-three-columns .eltdf-instructor:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-instructor-list-holder.eltdf-tl-four-columns .eltdf-instructor {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-instructor-list-holder.eltdf-tl-four-columns .eltdf-instructor:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .eltdf-instructor-list-holder.eltdf-tl-five-columns .eltdf-instructor {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 681px) {
  .eltdf-instructor-list-holder.eltdf-tl-five-columns .eltdf-instructor:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 680px) {
  .eltdf-instructor-list-holder .eltdf-tl-inner .eltdf-instructor {
    width: 100%;
  }
}

/* ==========================================================================
   Instructor list shortcode responsive style - end
   ========================================================================== */
/* ==========================================================================
# Instructor responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltdf-instructor.info-bellow .eltdf-instructor-image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .eltdf-instructor.info-hover {
    margin-bottom: 30px;
  }
}

/* ==========================================================================
# Instructor responsive style - end
========================================================================== */
/* ==========================================================================
# Instructor slider responsive - begin
	========================================================================== */
@media only screen and (max-width: 680px) {
  .eltdf-instructor-slider-holder .eltdf-owl-slider .owl-nav .owl-prev {
    left: 0;
  }
  .eltdf-instructor-slider-holder .eltdf-owl-slider .owl-nav .owl-next {
    right: 0;
  }
}

/* ==========================================================================
# Instructor slider responsive - end
	========================================================================== */

/*# sourceMappingURL=../../../../plugins/eltdf-lms/assets/css/lms-responsive.css.map */
