.eltdf-course-reviews-main-title {
	@include eltdfRelativeHolderLayout();
	margin: 0 0 61px;
	
	h4 {
		margin: 0 0 15px;
	}
}

.eltdf-course-reviews-list-top {
	@include eltdfRelativeHolderLayout();
	background-color: #fff;
	border: 1px solid $default-border-color;
	border-radius: 6px;
	box-shadow: $box-shadow-variable;
	overflow: hidden;
	box-sizing: border-box;
	
	.eltdf-grid-row {
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;
		padding: 38px 0;
	}

	.eltdf-course-reviews-number-wrapper {
		@include eltdfTableLayout();
		text-align: center;
	}
	
	.eltdf-course-reviews-number-inner {
		@include eltdfTableCellLayout();
		padding-bottom: 10px;
	}
	
	.eltdf-course-reviews-number {
		display: block;
		color: #ffcc00;
		font-family: $default-heading-font-m;
		font-size: 72px;
		line-height: 1;
		font-weight: 700;
	}

	.eltdf-course-stars-wrapper {
		
		.eltdf-course-stars {
			display: block;
			margin-top: 2px;
			
			i {
				margin: 0 2px;
				color: #ffcc00;
			}
		}
	}

	.eltdf-course-reviews-count {
		display: block;
		margin-top: 5px;
	}

	.eltdf-course-rating-percente-wrapper {
		padding: 0 45px;
		border-left: 1px solid $default-border-color;
		
		.eltdf-progress-bar {
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.eltdf-progress-bar {
		height: 26px;
		margin-bottom: 5px;
		vertical-align: top;
		
		.eltdf-pb-title-holder {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			display: block;
			line-height: 18px;
		}
		
		.eltdf-pb-title {
			font-family: $default-heading-font-m;
			font-size: 15px;
			color: $default-heading-color;
		}
		
		.eltdf-pb-content-holder {
			top: 10px;
			left: 65px;
			width: calc(100% - 105px);
		}
	}
}

.eltdf-course-reviews-list {
	
	.eltdf-comment-holder {
		
		.eltdf-comment-holder-inner {
			@include eltdfRelativeHolderLayout();
			padding: 24px 30px 43px;
			background-color: #fff;
			border: 1px solid $default-border-color;
			border-radius: 6px;
			box-shadow: $box-shadow-variable;
			overflow: hidden;
			box-sizing: border-box;
		}
		
		.eltdf-comments-title {
			padding: 0 0 11px;
			margin: 0 0 30px;
			text-transform: none;
			border-bottom: 1px solid $default-border-color;
		}
		
		.eltdf-comments {
			@include eltdfRelativeHolderLayout();
			padding-left: 10px;
			box-sizing: border-box;
		}
		
		.eltdf-comment-list {
			
			li {
				
				&:last-child {
					
					.eltdf-comment {
						padding-bottom: 0;
						border-bottom: 0;
					}
				}
			}
			
			.eltdf-comment {
				padding: 0 0 23px;
				background-color: transparent;
				border-bottom: 1px solid $default-border-color;
				border-radius: 0;
				box-shadow: none;
			}
		}
		
		.eltdf-comment-text {
			
			.eltdf-comment-name {
				color: $default-heading-color;
				font-size: 15px;
				font-weight: 400;
			}
			
			.eltdf-rating-inner {
				margin-left: 12px;
				
				i {
					margin: 0 2px;
					color: #ffcc00;
				}
			}
			
			.eltdf-review-title {
				display: block;
				margin-top: 3px;
				font-family: $default-heading-font-m;
				font-size: 14px;
				color: $aditional-blue-color;
			}
			
			.eltdf-text-holder {
				
				p {
					margin: 2px 0 8px;
				}
			}
		}
	}
	
	.eltdf-comment-form {
		
		form.comment-form {
			
			.logged-in-as {
				margin-bottom: 60px;
			}
			
			label {
				display: block;
				font-family: $default-heading-font-m;
				font-size: 12px;
				color: $default-heading-color;
			}
		}
	}
	
	.eltdf-comment-form-rating {
		@include eltdfRelativeHolderLayout();
		margin-bottom: 26px;
		
		label {
			display: block;
			font-family: $default-heading-font-m;
			font-size: 12px;
			color: $default-heading-color;
		}
	}
}